header{
	font-size: 50px;
	color: #fff;
	height: 200px;
	line-height: 200px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	margin: 40px 0px;
	background-color: #f44336;
}
.todo-model{
	display: inline-block;
	width: 100%;
}
.todo-model #text{
	float: left;
	width: 70%;
	color: #d50000;

	font-size: 35px;
	line-height: 50px;
	text-align: center;
}
.todo-model #check{
	float: left;
	width: 50px;
	height: 50px;
}
.todo-model #remove,#edit,#update{
	float: left;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border: 1px solid #000;
	color: #000;
} 
#todoComplete{
	width: 100%;
	text-align: center;
	height: 100px;
	line-height: 100px;
	color: green;
	font-weight: bold;
	font-size: 40px;
	background-color: yellow;
}
#toDoContainer input{
width: 100%;
	font-size: 40px;
	text-align: center;
background-color: #FFEBEE;
color: #C62828;
}
.hide{
	display: none;
}
.show{
	display: block;
}